/* General Styles */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #2f2f2f;
  color: #fff;
}

header {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1rem;
}

header nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  background-color: #444;
  margin-top: 10px;
}

header nav ul li {
  margin: 0 1rem;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

header nav ul li a:hover {
  color: #ffcc00;
}

/* Main Section */
main {
  padding: 2rem;
  background-color: #2f2f2f;
}

h2 {
  color: #ffcc00;
}

.episode {
  background-color: #444;
  border-radius: 5px;
  padding: 1rem;
  margin-bottom: 1.5rem;
}

audio {
  width: 100%;
  margin-top: 1rem;
}

/* Tips Section */
ul {
  list-style-type: disc;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1rem;
}
